html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
	background: url(../resourse/fon.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.menu{
  background: #2D2A32;
  list-style: none;
  margin: 0px;
  top:0px;
  position: fixed;
  width:100%;
}
.menu li {
  display: inline-block;
  padding: 1em;
}
.menu li:nth-last-child(-n+3){
  float: right;
}
.menu li:last-child:after {
  content: none;
  margin:auto;
}
.menu li:hover {
    background: #4D5F82;
}
.menu a,h1 {
  color: #FAFDF6;
  text-decoration: none;
  font-family: arial, sans-serif;
  margin: 0 34px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.header{
  display: table;
  width: 100%;
  text-align: center;
  height: 300px;
  margin-bottom: 10px;
  background-size: cover;

}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }
.flex-item {
  nav-index: 0;
    background: #F7A04F;
    width: 15%;
    height: 15%;
    margin: 30px;
    text-align: center;
    line-height: 2em;
    font-size: 10px;
    color: #FFFAF0;
	box-shadow:  0 0 50px rgba(0,0,0, 0.9);
	background: rgba(247, 160, 79, 0.866);
	border-radius: 15px;
}
img {
    margin: 10px;
    max-width: 10vw;
  }
h1{
	  margin: 5% 5% 0 1%;
	  padding: 10px;
	  margin-left:auto;
	  margin-right:auto;
	  width:50%;
  }
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup h2 {
    text-align: center;

}

.popup .close:hover {
    color: #3C4F76;
}

.popup .content1 {
    height: 100%;
    margin-top:10px;
    overflow: auto;

}

.popup {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.message {
    margin: 70px auto;
    background: #B0D0D3;
    border-radius: 5px;
    padding: 20px 40px 20px 40px;
    width: 80%;
    height: 80%;
    max-height: 75%;
    position: relative;
    padding-bottom: 50px;
	background: rgba(176, 208, 211, 0.8);
}
h2, li{
	font-size: 17px;
	text-transform: none;
}


.cart .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.cart h2 {
    text-align: center;

}

.cart .close:hover {
    color: #3C4F76;
}

.cart .content2 {
    height: 100%;
    margin-top:10px;
    overflow: auto;

}

.cart {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.badge {
    background-color: #F7A04F;
    border-radius: 10px;
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    white-space: nowrap;
	vertical-align: middle;
	float: right;
	margin-top: 15px;
}

.flex-item button {
  display: none;
}
.flex-item a {
	display: none;
}


.item {
  padding:2px;
  background-color: #AAA;
  height:2 0%;
  width:60%;
  margin: 10px;
}
.item img {
  padding:0;
  margin:0;
  vertical-align: middle;
}
.item ul {
  vertical-align: middle;
  margin:0;
  padding-left: 30%;
  text-align:center;
  display:inline-block;
  list-style:none;
}
.item a {
	 text-decoration: none;
  padding-top:5%;
  padding-right:2%;
  float:right;
}






