html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    background: url(../resourse/fon.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

 h2 {
  color: #FAFDF6;
  text-decoration: none;
  font-family: arial, sans-serif;
  margin: 0 34px 0 30px;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
}

#container{
  margin:15% auto;
  text-align: center;
  width: 30%;
  padding: 5%;
  box-sizing: border-box;
  font-size: 20px;
  background: #F7A04F;
  border-radius: 15px;
  background: rgba(247, 160, 79, 0.8);
}

.input{
	border-radius: 5px;
	top: 12px;
}
p{
	 color: #FAFDF6;

}
#error{
	bottom:12px;
	display: block;
}


